# Seattle Salary Breakdown

In [1]:
# Data sourced from -- https://data.seattle.gov/
# URL - https://data.seattle.gov/City-Business/City-of-Seattle-Wage-Data/2khk-5ukd

## Imports

##### Import dependencies (Python Libraries)

In [4]:
import pandas as pd

##### Read in the dataset

In [5]:
wages = pd.read_csv('Seattle_Wages_Data.csv')

## Descriptive Stats

##### Run basics descriptive statistics -- use the following methods:
##### 1. shape, 2. describe, 3. info, 4. columns

In [6]:
wages.shape

(12346, 5)

In [11]:
wages.describe()

       Hourly Rate
count  12346.000000
mean      38.974306
std       13.724498
min        5.110000
25%       28.830000
50%       38.850000
75%       48.430000
max      166.910000

In [12]:
wages.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12346 entries, 0 to 12345
Data columns (total 5 columns):
Department      12346 non-null object
Last Name       12346 non-null object
First Name      12346 non-null object
Job Title       12346 non-null object
Hourly Rate     12346 non-null float64
dtypes: float64(1), object(4)
memory usage: 482.3+ KB

In [14]:
wages.columns

Index(['Department', 'Last Name', 'First Name', 'Job Title', 'Hourly Rate '], dtype='object')

##### Let's visualize our dataset -- use the following methods:
##### 1. head, 2. tail

In [16]:
wages.head()

,Department,Last Name,First Name,Job Title,Hourly Rate
0,Arts and Culture,Boas-Du Pree,Sandra,Admin Staff Asst,34.48
1,Arts and Culture,Bolisay,Ronald,Publc Relations Spec,29.09
2,Arts and Culture,Chai,Grace,Cooperative Intern *,16.12
3,Arts and Culture,Childers,Calandra,"StratAdvsr3,Exempt",48.71
4,Arts and Culture,Crooks,Jennifer,Arts Prgm Spec,35.93

In [17]:
wages.tail()

,Department,Last Name,First Name,Job Title,Hourly Rate
12341,Seattle Public Utilities,Zemmerman,Ahanu,Maint Laborer,25.39
12342,Seattle Public Utilities,Zoellmer,Adam,"Trng&Ed Coord,Sr",37.94
12343,Seattle Public Utilities,Zollman,Karen,"Civil Engrng Spec,Sr",48.84
12344,Seattle Public Utilities,Zurowski,Allan,Carpenter,32.88
12345,Seattle Public Utilities,Zuver,Glen,"Constr&Maint Equip Op,Sr",34.75

## Indexing

### Question -- Who earns the most per hour?

##### Index for the Hour Rate column and find the max. Save the output to a variable.

In [23]:
highest_wage = wages['Hourly Rate '].max()

##### Let's try boolean indexing

In [29]:
wages[wages['Hourly Rate '] == highest_wage]

,Department,Last Name,First Name,Job Title,Hourly Rate
1879,City Light,Weis,Larry,City Light General Mgr&CEO,166.91

### Question -- How many people work for City Light?

##### Use boolean indexing to find all employees that work for City Light. Save that output (dataframe) to a variable called 'City_Light_employees'.

In [41]:
City_Light_employees = wages[wages['Department'] == 'City Light']

##### Apply the describe method to the DataFrame -- 'City_Lights_employees'. Index on 'Job Title'

In [40]:
City_Light_employees['Job Title'].describe()

count      1850
unique      328
top       Lnwkr
freq        118
Name: Job Title, dtype: object

### Question -- What is the average hourly salary earned at City Light?

##### From the 'City_Light_employees' DataFrame index on 'Hourly Rate '. Apply the method -- mean() to find the average salary. Save that output to a variable called -- 'avg_City_Light_rate'

In [52]:
avg_City_Light_rate = City_Light_employees['Hourly Rate '].mean()

### Question -- How much more does the highest earning gov worker earn than the average City Light employee?

In [54]:
highest_wage - avg_City_Light_rate

124.45930270270304

### Question -- How many other departments are there?

##### From the wages DataFrame index on 'Departments'. Apply the method -- describe().

In [59]:
wages['Department'].describe()

count                 12346
unique                   36
top       Police Department
freq                   1966
Name: Department, dtype: object

### Question -- How many positions are there in the Police Department? Which one earned the most and the least?

##### From the wages DataFrame boolean index on 'Police Department'. Save the output to a variable called -- 'Police_Dept_employees'

In [63]:
Police_Dept_employees = wages[wages['Department'] == 'Police Department']

#####  From the 'Police_Dept_employees' DataFrame, index on 'Job Title'. Use the describe method to get descriptive stats on the column, including how many unique values were there.

In [65]:
Police_Dept_employees['Job Title'].describe()

count               1966
unique               127
top       Pol Ofcr-Patrl
freq                 498
Name: Job Title, dtype: object

##### From the 'Police_Dept_employees' DataFrame index on the 'Hourly Rate ' column and apply the describe method.

In [66]:
Police_Dept_employees['Hourly Rate '].describe()

count    1966.000000
mean       43.954639
std        11.697764
min        16.120000
25%        35.560000
50%        44.950000
75%        49.510000
max       127.680000
Name: Hourly Rate , dtype: float64

##### From the 'Police_Dept_employees' DataFrame, use boolean indexing to find who is earning the most money at the Police Department

In [69]:
PDhighest_wage = Police_Dept_employees['Hourly Rate '].max()
Police_Dept_employees[Police_Dept_employees['Hourly Rate '] == PDhighest_wage]

,Department,Last Name,First Name,Job Title,Hourly Rate
7486,Police Department,OToole,Kathleen,Seattle Police Chief,127.68

##### From the 'Police_Dept_employees' DataFrame, use boolean indexing to find who is earning the least money at the Police Department

In [70]:
PDlowest_wage = Police_Dept_employees['Hourly Rate '].min()
Police_Dept_employees[Police_Dept_employees['Hourly Rate '] == PDlowest_wage]

,Department,Last Name,First Name,Job Title,Hourly Rate
6192,Police Department,Bani Yaseen,Aissar,Cooperative Intern *,16.12

## Pivot Tables

##### Generate a pivot table -- index on Department and Job Title, use Hourly Rate for the value(s). Save pivot table to varaible called 'wages_pivot'

In [ ]:
wages_pivot =

##### Index the pivot table for jobs and the hourly rates in the Arts and Culture department. Save the output to a variable.

In [ ]:
wages_pivot[wages_pivot.index.get_level_values('Department') == 'Arts and Culture']

In [62]:
ArtsAndCulture = wages_pivot[wages_pivot.index.get_level_values('Department') == 'Arts and Culture']

##### Index the pivot table for jobs and the hourly rates in the City Light department. Save the output to a variable.

## Graphing

##### How many people work in the Arts and Culture department?

In [ ]:
ArtsAndCulture['Hourly Rate '].count()

##### Generate a histgram of the wages of employees in the Arts and Culture department.

In [ ]:
ArtsAndCulture.hist()

##### How many people work in the City Light department?

##### Generate a histgram of the wages of employees in the City Light department.

## Exporting

##### Find the present working directory.

##### Export the data in an excel file. The file will be saved in the present working directory.

In [ ]:
CityLight.to_excel('PythonPandasOutput.xlsx', sheet_name='Analysis')